<% layout('/layouts/boilerplate') %>


<div class="shadow-[0px_0px_10px_0px_rgba(0,0,0,0.2)] bg-white h-full rounded-lg p-20 col-span-12">
  <h1 class="text-2xl font-bold"><%= err.message %></h1>
  <p class="mt-5"><%= err.stack %></p>
</div>